<div>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStatus = true" (closed)="panelOpenStatus = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Peak Price

                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenStatus ? 'Bitcoin reached its all-time high on December 17, 2017' : ''}}

                </mat-panel-description>
            </mat-expansion-panel-header>


            <p>$19873</p>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Current Price
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenState ? 'Oh, how the mighty have fallen!' : ''}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>${{ Math.ceil(results.data[0].priceUsd) }}</p>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpen = true" (closed)="panelOpen = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    What Could've Been
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpen ? 'I hope you did not buy at peak price...' : ''}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>How many bitcoin do you have?</p>
            <input matInput [(ngModel)]='bitcoinCount' class="form-control" placeholder="Enter amount">
            <p>Your almost fortune (if you sold back in 2017):
                ${{ 19873 * bitcoinCount }}</p>

        </mat-expansion-panel>
    </mat-accordion>

</div>