<h1 [class.gray]="h1Style">Home</h1>

<div>
    <ul *ngIf="results">
        <li>
            <p>Current Price: ${{ Math.ceil(results.data[0].priceUsd) }}</p>
        </li>
        <li>
            <p>Peak Price: $20985</p>
        </li>
        <li>
            <p>-{{ Math.ceil((20985 - results.data[0].priceUsd) / 20985 * 100) }}%</p>
        </li>
    </ul>
    <h3>Find out how rich you would've been!</h3>
    <input type="number" [(ngModel)]='bitcoinCount' class="form-control" placeholder="Enter an amount">
    <h2>${{ Math.ceil(results.data[0].priceUsd) * bitcoinCount }}</h2>
</div>